<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
  <img src="/images/Top-Secret2.jpg" alt="Top secret" height="100px">
  <h1>Top secret!</h1>
  <p>{{user}}</p>
  <form method="post" action="/logout">
    <button type="submit">Logout</button>
  </form>
</body>
</html>