<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
  <form method="post" action="/login" autocomplete="off">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
    <a href="/register">Register</a>
  </form>
</body>
</html>